{% extends 'base.html' %}

{% block content %}

    <div class="col-md-12">
        <ul class="nav nav-tabs" id="global-nav-tabs">
            <li role="presentation" class="active">
                <a href="#" id="graph-tab" data-area="graph-area">Graph Data</a>
            </li>
            <li>
                <a href="#" id="calibration-tab" data-area="calibration-area">Calibration</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12 tab-area" id="graph-area">
        <form class="col-xs-4">
            <div class="form-group">
                <label for="filename-input">Enter Filename:</label>
                <select type=text class="form-control" id="filename-input">
                    <option value="realtime.txt">realtime.txt</option>
                </select>
            </div>
            <div class="form-group">
                <button id="loaddata-button" class="btn btn-primary" type=submit>Submit</button>
            </div>
        </form>
        <div id="scattering-container" class="col-md-12" style="text-align: center; padding: 5px;"></div>
        <div id="environment-container" class="col-md-12" style="text-align: center; padding: 5px;"></div>
    </div>
    <div class="col-md-12 tab-area" id="calibration-area" hidden>
        <h2>Calibration</H2>
    </div>
{% endblock %}